header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  padding: 12px 45px;
  border-radius: 35px;
  cursor: pointer;
  font-weight: 800;
  position: relative;
  overflow: hidden;
  font-size: 29px;
  transition-timing-function: ease-out;
}

.menu > span {
  position: relative;
}

.menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e922225d;
  transform: translate3d(0, 100%, 0);
  transition-timing-function: ease-out;
  border-radius: 24px;
  transition: 0.5s;
}
.menu:hover{
  transform: scale(1.5);
  transition: 0.5s;
}


.menu:hover > span {
  color: #fff;
  z-index: 10;
}

.menu_dialog {
  position: fixed;
  z-index: 99999;
  border-radius: 0 0 20px 20px;
  animation: 0.5s animate_menu_open;
}

@keyframes animate_menu_open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu_dialog > nav {

  display: flex;
 
  justify-content: space-between;
}
.menu_dialog > nav div{
  margin-right: 100px;
  background: #ededed;
}

.menu_dialog > nav a {
  color: #000;
  text-decoration: none;
  font-size: 30px;

}






.menu_dialog > nav div {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.menu_dialog > nav div:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #232323;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu_dialog > nav div:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu_icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}


.menu_item:hover {
 
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.text_center  {
  text-align: center;
  vertical-align: middle;
  line-height: 500px; 
}

