#contact {
  width: 450px;
  margin: 0 auto;
}

#contact > form {
  margin-top: 30px;
}

#contact > form > div {
  margin: 30px 0;
}

#contact > form > div textarea,
#contact > form > div input {
  max-width: 100%;
  min-width: 100%;
  border: 1px solid #ccc;
  padding: 10px 25px;
  outline: none;
  font-size: 25px;
  border-radius: 35px;
}

#contact > form > div button {
  width: 100%;
  border: 0;
  background: #025cb1;
  color: #fff;
  cursor: pointer;
  padding: 10px 0;
  font-size: 25px;
  border-radius: 100px;
}


